  <connectionStrings>
    <add name="MvcBasicContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=MvcBasicContext-XXXXXXXXXXXX; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|MvcBasicContext-XXXXXXXXXXXXXX.mdf"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
